<h1><span class="badge bg-primary p-2 w-100">Alumno: Julián Rodicio - Legajo: 110066</span></h1>

<p>Edad uno: <input type="number"  min="0" max="200" [(ngModel)]="edadUno" (change)="validarEdades()"></p>
<p>Edad dos: <input type="number" min="0" max="200" [(ngModel)]="edadDos" (change)="validarEdades()"></p>

<div id="resultados" *ngIf="mostrarCalculos">
  <p>Suma: <input type="text" readonly [(ngModel)]="suma">  Promedio: <input type="text" readonly [(ngModel)]="promedio"></p>
</div>

<button type="submit" class="btn btn-success w-50" (click)="realizarCalculos()">Calcular</button>
<button type="reset" class="btn btn-danger w-50" (click)="limpiarValores()">Limpiar cuadros de textos</button>

<router-outlet></router-outlet>
